# Ignore.
*

# Exceptions.
!.gitignore
!Preferences.sublime-settings
!Package Control.sublime-settings
!C.sublime-settings
!C++.sublime-settings
!Matlab.sublime-settings
!README.md
!Default (Linux).sublime-keymap